package main

templ Test(){
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <link rel="stylesheet" type="text/css" href="/styles/styles.css">
            <title>testing issue</title>
        </head>
        <body>
            <h1>Open inspector and check the CSS content and error.</h1>
        </body>
    </html>
}
